[submodule "third_party/informative-drawings"]
	path = third_party/informative-drawings
	url = https://github.com/carolineec/informative-drawings.git
[submodule "third_party/gsplat"]
	path = third_party/gsplat
	url = https://github.com/nerfstudio-project/gsplat.git
